@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Suez+One&display=swap');

@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}

.bg{
    background-image: url('../img/aa.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
body { 
    background-color: orange
}

h1{
    background-color:hsla(209, 77%, 83%, 0.843);
    text-align: center;
    height: 70px;
    margin-bottom: 0 !important;
    border: 0 !important;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font: size 12px;
    COLOR : hsl(234, 98%, 50%)


}

  
.vertical-center {
    margin-top: 0;
    position: absolute;
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.btn-button{
    display: inline-block;
    position: relative;
    color: white;
    background-color: black;

}

.btn-button:hover{
    
    background-color: grey;
    color: black;
}

.navbar{
    margin-bottom: 0 !important;
    border: 0 !important;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.operations{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    border-radius: 35px;
    font-family: arial;
}

.operations button{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    box-shadow: #020405;
}

a{
    text-decoration: none;
}

#first{
    background-color: #171718;
    color: #fff;
    border-radius: 45px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 100;
    width: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#second{
    background-color: #171718;
    color: #fff;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 25px;
    font-weight: 100;
    width: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

}
#third{
    background-color: #171718;
    color: #fff;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 25px;
    font-weight: 100;
    width: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

a #container {
    min-height:100%;
    position:relative;
 }
 
 #footer {
    padding: 2px;
    margin-bottom: 0 !important;
    border: 0 !important;
    color: rgb(10, 10, 10);
    align-items: center;
    align-content: center;
    padding: 10px 20px;
    height: auto;
 }

 #container #header{
    background-color:#14344d;
    color: white;
    text-align: center;
    height: 25px;
    margin-bottom: 0 !important;
    border: 0 !important;
    margin-bottom: 25px;
 }
